<div class="cover-image">
  <div class="img">
    <div class="cover-overlay">
      <div class="cover-content">
        <h2>Blog</h2>
        <hr>
        <p>Place to get your query Sorted</p>
      </div>
    </div>
  </div>

</div>


<div class="blog-row">
  <div class="blog-column1">
    <div class="blog-content">
      <h1>How to deal with Emotional Eating</h1>
      <h5>Find your balance in a holistic way</h5>
      <div class="detail">
        <h6 class="date">19/8/2020</h6>
        <h6 class="tag">Food</h6>
      </div>
      <img src="../../../assets/image/1.jpg" alt="man-eating-pizza">
      <p>Sed in felis velit. Quisque porta turpis vel leo accumsan porta et in sapien. Etiam consequat tellus sed mi
        mollis, non ultrices sem facilisis. Morbi in euismod purus. Maecenas sem felis, tincidunt non felis ac, egestas
        pretium purus. Aliquam at magna dapibus, maximus magna in, luctus mauris. Nam odio odio, venenatis a condimentum
        quis, pretium Lats Line</p>
      <hr>
    </div>
  </div>
  <div class="blog-column2">
    <div class="categories">
      <h3>Categories</h3>
      <a *ngFor="let tag of tag">{{tag}}</a>
    </div>
    <app-contactform></app-contactform>
  </div>
</div>
